# Setting Up the Environment

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Get Data from the dataset

In [2]:
data = pd.read_csv("Movies_data.csv")

In [3]:
#check the data
data

,Unnamed: 0,id,title,original_language,release_date,vote_average,popularity,adult
0,0,238,The Godfather,en,1972-03-14,8.7,114.574,False
1,1,278,The Shawshank Redemption,en,1994-09-23,8.7,91.998,False
2,2,240,The Godfather Part II,en,1974-12-20,8.6,61.490,False
3,3,19404,Dilwale Dulhania Le Jayenge,hi,1995-10-20,8.6,28.989,False
4,4,424,Schindler's List,en,1993-12-15,8.6,43.764,False
...,...,...,...,...,...,...,...,...
19995,19995,384521,The Cloverfield Paradox,en,2018-02-04,5.6,17.073,False
19996,19996,14361,Captain Ron,en,1992-09-18,5.6,11.060,False
19997,19997,11637,Are We There Yet?,en,2005-01-20,5.6,15.591,False
19998,19998,10956,Joe Dirt,en,2001-04-10,5.6,15.664,False
19999,19999,72559,G.I. Joe: Retaliation,en,2013-03-27,5.6,40.449,False

In [5]:
#check data if there is any part missing
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         20000 non-null  int64
 1   id                 20000 non-null  int64
 2   title              20000 non-null  object
 3   original_language  20000 non-null  object
 4   release_date       20000 non-null  object
 5   vote_average       20000 non-null  float64
 6   popularity         20000 non-null  float64
 7   adult              20000 non-null  bool
dtypes: bool(1), float64(2), int64(2), object(3)
memory usage: 1.1+ MB

# Seperate the Data into X and Y
## X = independents Y = dependent

In [6]:
from sklearn.model_selection import train_test_split

#define what x and y is
X = data.drop(['vote_average'], axis=1) #x is the table without vote_average
Y = data['vote_average'] #y is the table only with vote_average

In [7]:
X

,Unnamed: 0,id,title,original_language,release_date,popularity,adult
0,0,238,The Godfather,en,1972-03-14,114.574,False
1,1,278,The Shawshank Redemption,en,1994-09-23,91.998,False
2,2,240,The Godfather Part II,en,1974-12-20,61.490,False
3,3,19404,Dilwale Dulhania Le Jayenge,hi,1995-10-20,28.989,False
4,4,424,Schindler's List,en,1993-12-15,43.764,False
...,...,...,...,...,...,...,...
19995,19995,384521,The Cloverfield Paradox,en,2018-02-04,17.073,False
19996,19996,14361,Captain Ron,en,1992-09-18,11.060,False
19997,19997,11637,Are We There Yet?,en,2005-01-20,15.591,False
19998,19998,10956,Joe Dirt,en,2001-04-10,15.664,False
19999,19999,72559,G.I. Joe: Retaliation,en,2013-03-27,40.449,False

In [8]:
Y

0        8.7
1        8.7
2        8.6
3        8.6
4        8.6
        ...
19995    5.6
19996    5.6
19997    5.6
19998    5.6
19999    5.6
Name: vote_average, Length: 20000, dtype: float64

# Seperate into train dataset and test dataset

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2)

In [11]:
#combine the data to traindata set
train_data = X_train.join(y_train)

In [12]:
train_data

,Unnamed: 0,id,title,original_language,release_date,popularity,adult,vote_average
1527,1527,145,Breaking the Waves,da,1996-05-13,12.372,False,7.5
2354,2354,68734,Argo,en,2012-10-11,25.573,False,7.3
16799,16799,10715,Looney Tunes: Back in Action,en,2003-11-14,20.934,False,6.4
10136,10136,50014,The Help,en,2011-08-09,56.856,False,8.2
15734,15734,426284,Blade of the Immortal,ja,2017-04-29,11.574,False,6.6
...,...,...,...,...,...,...,...,...
13571,13571,10839,Cross of Iron,en,1977-01-29,15.445,False,7.0
11748,11748,42994,Memories,ja,1995-12-23,14.077,False,7.4
7356,7356,600184,The Nest,it,2019-08-15,8.162,False,6.3
7055,7055,207768,I Spit on Your Grave 2,en,2013-08-25,35.437,False,6.3
240,240,147,The 400 Blows,fr,1959-06-03,14.260,False,8.1